@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
:root{
    --cor-fundo:#B4D6CD;
    --cor-texto:#181C14;
    --cor-texto:#47A992;
    --cor-texto:#47A992;
    --cor-texto:#EAC7C7;
    --font:"Updock", cursive;
}
body{
    background-color: var(#B4D6CD);
    color: var(#181C14);
    font-family: var(--font);

}