@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
:root{
    --cor-fundo:#B4D6CD;
    --cor-texto:#181C14;
    --cor-azul:#47A992;
    --cor-verde:#47A992;
    --cor-rose:#EAC7C7;
    --font:"Updock", cursive;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font);

}